{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Flask Starter Code</h1>
<p class="lead">Use this starter template for your Flask apps as a way to quickly start any new project.<br>
All you get are these files and mostly barebones HTML/CSS files.</p>
<br>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
	    
	        <ul class=flashes>
	        {% for category, message in messages %}
			    <li class="alert alert-{{ category }}">{{ message }}</li>
			{% endfor %}
			</ul>
		
	{% endif %}
{% endwith %}
{% endblock %}